    <section class="container">
        <div class="my-5">

            <div class="row" data-masonry='{"percentPosition": true }'>

                {{!-- Start Scrap #01 --}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <img src="https://www.cliffrailwaylynton.co.uk/wp-content/uploads/2018/01/250x250-Placeholder.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <h6 style="margin: 0px;">Sreelakshmi Anilkumar</h6>
                                    <small class="text-muted">Thu, Mar 24</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book.</p>
                        </div>
                        <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2"
                            alt="...">
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Scrap #01 --}}


                {{!-- Start Scrap #02 --}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <img src="https://www.cliffrailwaylynton.co.uk/wp-content/uploads/2018/01/250x250-Placeholder.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <h6 style="margin: 0px;">Arjun Krishna</h6>
                                    <small class="text-muted">Wed, Mar 23</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book.</p>
                        </div>
                        <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2"
                            alt="...">
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Scrap #02 --}}


                {{!-- Start Scrap #03 --}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <img src="https://www.cliffrailwaylynton.co.uk/wp-content/uploads/2018/01/250x250-Placeholder.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <h6 style="margin: 0px;">Jeevan Joseph</h6>
                                    <small class="text-muted">Tue, Mar 22</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book.<br><br>Lorem Ipsum is simply dummy text of the printing and
                                typesetting
                                industry.</p>
                        </div>
                        {{!-- <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2" alt="..."> --}}
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Scrap #03 --}}


                {{!-- Start Scrap #04 --}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <img src="https://www.cliffrailwaylynton.co.uk/wp-content/uploads/2018/01/250x250-Placeholder.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <h6 style="margin: 0px;">Joseph Mathai</h6>
                                    <small class="text-muted">Mon, Mar 21</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.</p>
                        </div>
                        <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2"
                            alt="...">
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Scrap #04 --}}


                {{!-- Start Scrap #05 --}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <img src="https://www.cliffrailwaylynton.co.uk/wp-content/uploads/2018/01/250x250-Placeholder.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <h6 style="margin: 0px;">Sandra Krishnan</h6>
                                    <small class="text-muted">Mon, Mar 21</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book.</p>
                        </div>
                        <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2"
                            alt="...">
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Scrap #05 --}}


                {{!-- Start Scrap #06 --}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <img src="https://www.cliffrailwaylynton.co.uk/wp-content/uploads/2018/01/250x250-Placeholder.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <h6 style="margin: 0px;">Christeena Zacharia</h6>
                                    <small class="text-muted">Sun, Mar 20</small>
                                </div>
                            </div>
                        </div>

                        {{!-- <div class="card-body">
                            <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book.</p>
                        </div> --}}
                        <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2"
                            alt="...">
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Scrap #06 --}}


                {{!-- Start Scrap #07 --}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <img src="https://www.cliffrailwaylynton.co.uk/wp-content/uploads/2018/01/250x250-Placeholder.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <h6 style="margin: 0px;">Meretta Suresh</h6>
                                    <small class="text-muted">Sun, Mar 20</small>
                                </div>
                            </div>
                        </div>

                        {{!-- <div class="card-body">
                            <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book.</p>
                        </div> --}}
                        <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2"
                            alt="...">
                        <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2"
                            alt="...">
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Scrap #07 --}}


                {{!-- Start Scrap #08 --}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <img src="https://www.cliffrailwaylynton.co.uk/wp-content/uploads/2018/01/250x250-Placeholder.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <h6 style="margin: 0px;">Gopika Krishnakumar</h6>
                                    <small class="text-muted">Sat, Mar 19</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book.</p>
                        </div>
                        <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2"
                            alt="...">
                        <img src="https://razorpay.com/newsroom-content/uploads/2021/02/hd1080.png" class="p-2"
                            alt="...">
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Scrap #08 --}}

            </div>
    </section>